/*CSS created by Jan Stelovsky, Hoku added a few lines here and there*/
body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding-left: 200px;
    background-repeat: repeat-y;
    background-size:cover;
    background-position: center,center;

    background-color: #6a6c6a;
}
h2, div {
    display: inline-block;
    margin-right: 30px;
}

table {
    border-collapse: collapse;
    background-color: #6a6c6a;

}
th, td {
    padding: 3px 5px;
    border: 1px solid gray;
    color:white;
}
td {
    vertical-align: top;
}
ul {
    margin: 5px;
    padding: 0 20px;
    text-align: left;
}

select{
    width: 160px;
}

h3{
    color: white;
    background-color: #6a6c6a;
}
h2{
    color: white;
    border: 3px solid gray;
    background-color: #6a6c6a;
}

/*Side nav code form w3, modified by Hoku Tobin*/
/* Fixed sidenav, full height */
.sidenav {
    height: 180px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6a6c6a;
    overflow-x: hidden;
    padding-top: 20px;

}

/* Style the sidenav */
.sidenav button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color:#f1f1f1;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: center;
    cursor: pointer;
    outline: none;
}

/* On mouse-over */
.sidenav button:hover, .sidenav a:hover, .dropdown-btn:hover {
    color: #818181 ;
}        


/* Add an active class to the active dropdown button */
.active {
    background-color: #6a6c6a;
    color: white;
}














